In [2]:
function grades_array()
    name = ["Bob", "Sally", "Alice", "Hank"]
    age = [17, 18, 20, 19]
    grade_2020 = [5.0, 1.0, 8.5, 4.0]
    (; name, age, grade_2020)
end

grades_array (generic function with 1 method)

In [3]:
grades_array()

(name = ["Bob", "Sally", "Alice", "Hank"], age = [17, 18, 20, 19], grade_2020 = [5.0, 1.0, 8.5, 4.0])

In [4]:
using DataFrames

In [5]:
names = ["Sally", "Bob", "Alice", "Hank"]
grades = [1, 5, 8.5, 4]
df = DataFrame(; name=names, grade_2020=grades)

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [6]:
function grades_2020()
    name = ["Sally", "Bob", "Alice", "Hank"]
    grade_2020 = [1, 5, 8.5, 4]
    DataFrame(; name, grade_2020)
end
grades_2020()

df

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [7]:
df = DataFrame(name = ["Malice"], grade_2020 = ["10"])

1×2 DataFrame
 Row │ name    grade_2020
     │ String  String
─────┼────────────────────
   1 │ Malice  10

In [8]:
df = grades_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [9]:
DataFrame(σ = ["a", "a", "a"], δ = [π, π/2, π/3])

3×2 DataFrame
 Row │ σ       δ
     │ String  Float64
─────┼─────────────────
   1 │ a       3.14159
   2 │ a       1.5708
   3 │ a       1.0472

In [10]:
function grades_2020(names::Vector{Int})
    df = grades_2020()
    df[names, :]
end
grades_2020([2])

1×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Bob            5.0

In [41]:
function names_ages()
    names = ["Liz","Mol","Asia","Ben","Alice","Melissa","Peg"]
    ages = [44,47,12,43,7,44,73]
    adult = [1,1,0,1,0,1,1]
    state = ["MN","MN","UT","MA","MN","UT","CO"]
    DataFrame(;names,ages,adult,state)
end
names_ages()

7×4 DataFrame
 Row │ names    ages   adult  state
     │ String   Int64  Int64  String
─────┼───────────────────────────────
   1 │ Liz         44      1  MN
   2 │ Mol         47      1  MN
   3 │ Asia        12      0  UT
   4 │ Ben         43      1  MA
   5 │ Alice        7      0  MN
   6 │ Melissa     44      1  UT
   7 │ Peg         73      1  CO

In [12]:
#function names_age(ages::Vector{Int})
    #df = names_ages()
    #df[ages, :]
#end

#names_age([3])

In [12]:
using CSV

In [42]:
function names_ages2()
    df = names_ages()
    df[!, :names]
end

names_ages2()

7-element Vector{String}:
 "Liz"
 "Mol"
 "Asia"
 "Ben"
 "Alice"
 "Melissa"
 "Peg"

In [43]:
function stocks()
    stocks = ["Snow","BYND","EFX"]
    price = [159.07, 34.13, 190.56]
    fair_price = [300, 59, 325]
    DataFrame(; stocks,price, fair_price)
end

stocks()

3×3 DataFrame
 Row │ stocks  price    fair_price
     │ String  Float64  Int64
─────┼─────────────────────────────
   1 │ Snow     159.07         300
   2 │ BYND      34.13          59
   3 │ EFX      190.56         325

In [34]:
# index and summerize

names_ages()

4×3 DataFrame
 Row │ names   ages   adult
     │ String  Int64  Int64
─────┼──────────────────────
   1 │ Liz        44      1
   2 │ Mol        47      1
   3 │ Asia       12      0
   4 │ Ben        43      1

In [44]:
function names_ages2()
    df = names_ages()
    #df[!, :names]
    #df.names
end

names_ages2()

7×4 DataFrame
 Row │ names    ages   adult  state
     │ String   Int64  Int64  String
─────┼───────────────────────────────
   1 │ Liz         44      1  MN
   2 │ Mol         47      1  MN
   3 │ Asia        12      0  UT
   4 │ Ben         43      1  MA
   5 │ Alice        7      0  MN
   6 │ Melissa     44      1  UT
   7 │ Peg         73      1  CO

In [45]:
df = names_ages2()
df[2, :]

DataFrameRow
 Row │ names   ages   adult  state
     │ String  Int64  Int64  String
─────┼──────────────────────────────
   2 │ Mol        47      1  MN

In [47]:
function age_2020(i::Int)
    df=names_ages()
    df[i, :]
end

age_2020(7)

DataFrameRow
 Row │ names   ages   adult  state
     │ String  Int64  Int64  String
─────┼──────────────────────────────
   7 │ Peg        73      1  CO

In [49]:
names_ages()

7×4 DataFrame
 Row │ names    ages   adult  state
     │ String   Int64  Int64  String
─────┼───────────────────────────────
   1 │ Liz         44      1  MN
   2 │ Mol         47      1  MN
   3 │ Asia        12      0  UT
   4 │ Ben         43      1  MA
   5 │ Alice        7      0  MN
   6 │ Melissa     44      1  UT
   7 │ Peg         73      1  CO

In [52]:
equals_liz(name::String) = name == "Liz"
equals_liz("Liz")

true

In [55]:
filter(:names=> equals_liz, names_ages())

1×4 DataFrame
 Row │ names   ages   adult  state
     │ String  Int64  Int64  String
─────┼──────────────────────────────
   1 │ Liz        44      1  MN

In [56]:
filter(:names => n -> n == "Liz", names_ages())

1×4 DataFrame
 Row │ names   ages   adult  state
     │ String  Int64  Int64  String
─────┼──────────────────────────────
   1 │ Liz        44      1  MN