In [1]:
using CSV
using DataFrames
using Dates
using SplitApplyCombine

df = CSV.File("full_moon.csv") |> DataFrame

#df[!:Time] = Dates.format(Time.( A[!, :Time],"II:MM p"))
#df["Time":dateformat, "II:MM p"]

#arr[dateformat"II:MM p"]

#A[!,:DATE]= Dates.format.(Date.( A[!,:DATE],"dd/mm/yyyy"),"Ymmdd")
#df[!, :Time] = Dates.format(Time.(df[!, :Time], " II:MM p")," II:MM p")
#df1=convert(Matrix,df)

#df[!, :Time]
df

#format = DateFormat("ddmmyyyy")

1868×3 DataFrame
  Row │ Day        Date                Time
      │ String15   String31            String31
──────┼─────────────────────────────────────────────
    1 │ Monday      15 January 1900     08:07:30 pm
    2 │ Wednesday   14 February 1900    02:50:12 pm
    3 │ Friday      16 March 1900       09:11:48 am
    4 │ Sunday      15 April 1900       02:02:06 am
    5 │ Monday      14 May 1900         04:36:36 pm
    6 │ Wednesday   13 June 1900        04:38:36 am
    7 │ Thursday    12 July 1900        02:21:54 pm
    8 │ Friday      10 August 1900      10:29:54 pm
    9 │ Sunday      9 September 1900    06:06:06 am
   10 │ Monday      8 October 1900      02:18:06 pm
   11 │ Tuesday     6 November 1900     11:59:36 pm
  ⋮   │     ⋮              ⋮                ⋮
 1859 │ Thursday    7 April 2050        09:12:12 am
 1860 │ Friday      6 May 2050          11:26:12 pm
 1861 │ Sunday      5 June 2050         10:51:12 am
 1862 │ Monday      4 July 2050         07:51:00 pm
 1863 │ Wednesday   3 August 2050       03:20:30 am
 1864 │ Thursday    1 September 2050    10:30:54 am
 1865 │ Friday      30 September 2050   06:31:48 pm
 1866 │ Sunday      30 October 2050     04:16:00 am
 1867 │ Monday      28 November 2050    04:09:48 pm
 1868 │ Wednesday   28 December 2050    06:15:36 am
                                   1847 rows omitted

In [3]:
using DataFrames, Dates, Statistics

df_2 = DataFrame(name=["John", "Sally", "Kirk", "Sanders", "Hank"],
                 age=[23., 42., 59., 31., 65],
                 children=[3,2,2,0,5],
                 date=[Date("2015-01-01")
                       Date("2015-01-10")
                       Date("2015-02-20")
                       Date("2015-02-05")
                       Date("2015-02-28")])

5×4 DataFrame
 Row │ name     age      children  date
     │ String   Float64  Int64     Date
─────┼────────────────────────────────────────
   1 │ John        23.0         3  2015-01-01
   2 │ Sally       42.0         2  2015-01-10
   3 │ Kirk        59.0         2  2015-02-20
   4 │ Sanders     31.0         0  2015-02-05
   5 │ Hank        65.0         5  2015-02-28

In [ ]:
#Monday	15 January 1900	08:07:30 pm	
#DateTime("01-15-1900T08:07:30pm", dateformat"mm-dd-yyyy-II:MM p")

DateFormat("01-15-1900:08:07:30 pm","mm-dd-yyyy:HH:MM:SS p")

Tuesday, 14 June 2022, 01:51:48 pm
Wednesday, 13 July 2022, 08:37:42 pm

In [147]:
t1 = DateTime(2022,6,14,13,51,48,0)
peroid = Dates.Millisecond(2551442777) 
t1 + peroid  #(peroid * 3)

2022-07-14T02:35:50.777

In [ ]:
14 February 1900	02:50:12 pm	
\
14	2	1900
3	Friday	16 March 1900	09:11:48 am	16	3	1900
4	Sunday	15 April 1900	02:02:06 am	15	4	1900
5	Monday	14 May 1900	04:36:36 pm	14	5	1900
6	Wednesday	13 June 1900	04:38:36 am	13	6	1900

In [ ]:
d1= "02/02/2022"
date=Date(d1,"dd/mm/yyyy")
s=Dates.format(date,"Ymmdd")
A[!,:DATE]= Dates.format.(Date.( A[!,:DATE],"dd/mm/yyyy"),"Ymmdd")

In [ ]:
A[!,:DATE]= Dates.format.(Date.( A[!,:DATE],"dd/mm/yyyy"),"Ymmdd")

In [ ]:
using Dates
f(x; df = dateformat"m/d/y") = Date(x, df)
transform(df, :date=>ByRow(f))

In [ ]:
DateTime("2019-03-22 2:05 PM", dateformat"yyyy-mm-dd II:MM p")

#Time("12:45pm", "HH:MM")

#a = ("12:34pm","2:34am");


#Time(d, dateformat"HH:MMp") for d ∈ a

test time

In [ ]:
df = CSV.File("full_moon.csv") |> DataFrame
df = rename!(df, :Time => :time_new)
DateTime("time_new, dateformat"yyyy-mm-dd II:MM p")

#for i in df[!, "time_new"]
    #println("$i")
#end

In [ ]:
# use pipe function to openj df
function make_data()
    df = CSV.File("full_moon.csv") |> DataFrame
    df = rename!(df, :Time => :time_new)
    df = rename(df, :Date => :date_new)
    df = rename(df, :Day => :day_of_week)
    #split columns
    tmp = split.(df.date_new)
    insertcols!(df, [n => getindex.(tmp, i) for (i, n) in
                        enumerate([:day, :month, :year])]...)
    #replace month string
    replace!(df.month, "April" => "4", "January" => "1", 
    "February" => "2", "March" => "3", "May" => "5",
    "June" => "6", "July" => "7", "August" => "8",
    "September" => "9", "October" => "10", "November" => "11",
    "December" => "12")
    #df
    # combine items back into string
    df.date_format = string.(df.year, "-", df.month, "-", df.day)
    df.date_and_time = string.(df.date_new, "", df.time_new)
   
    df.date_format = string.(df.year, "-", df.month, "-", df.day)
    df.C = string.(df.date_format,"-",df.time_new)
    
    df
end
    

make_data()

In [36]:
equal_year(year::SubString) = year == "2022"
equal_year(2022)

true

In [35]:
make_data()

1868×9 DataFrame
  Row │ day_of_week  date_new            time_new      day        month      y ⋯
      │ String15     String31            String31      SubStrin…  SubStrin…  S ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │ Monday        15 January 1900     08:07:30 pm  15         1          1 ⋯
    2 │ Wednesday     14 February 1900    02:50:12 pm  14         2          1
    3 │ Friday        16 March 1900       09:11:48 am  16         3          1
    4 │ Sunday        15 April 1900       02:02:06 am  15         4          1
    5 │ Monday        14 May 1900         04:36:36 pm  14         5          1 ⋯
    6 │ Wednesday     13 June 1900        04:38:36 am  13         6          1
    7 │ Thursday      12 July 1900        02:21:54 pm  12         7          1
    8 │ Friday        10 August 1900      10:29:54 pm  10         8          1
    9 │ Sunday        9 September 1900    06:06:06 am  9          9          1 ⋯
   10 │ Monday        8 October 1900      02:18:06 pm  8          10         1
   11 │ Tuesday       6 November 1900     11:59:36 pm  6          11         1
  ⋮   │      ⋮               ⋮                ⋮            ⋮          ⋮        ⋱
 1859 │ Thursday      7 April 2050        09:12:12 am  7          4          2
 1860 │ Friday        6 May 2050          11:26:12 pm  6          5          2 ⋯
 1861 │ Sunday        5 June 2050         10:51:12 am  5          6          2
 1862 │ Monday        4 July 2050         07:51:00 pm  4          7          2
 1863 │ Wednesday     3 August 2050       03:20:30 am  3          8          2
 1864 │ Thursday      1 September 2050    10:30:54 am  1          9          2 ⋯
 1865 │ Friday        30 September 2050   06:31:48 pm  30         9          2
 1866 │ Sunday        30 October 2050     04:16:00 am  30         10         2
 1867 │ Monday        28 November 2050    04:09:48 pm  28         11         2
 1868 │ Wednesday     28 December 2050    06:15:36 am  28         12         2 ⋯
                                                 4 columns and 1847 rows omitted

In [38]:
#filter(:year == 2022)

    
#equals_year(year:String) = year == 2022

filter(:year => equal_year, make_data())

12×9 DataFrame
 Row │ day_of_week  date_new            time_new      day        month      ye ⋯
     │ String15     String31            String31      SubStrin…  SubStrin…  Su ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Tuesday       18 January 2022     12:48:30 am  18         1          20 ⋯
   2 │ Wednesday     16 February 2022    05:56:30 pm  16         2          20
   3 │ Friday        18 March 2022       08:17:36 am  18         3          20
   4 │ Saturday      16 April 2022       08:55:06 pm  16         4          20
   5 │ Monday        16 May 2022         06:14:12 am  16         5          20 ⋯
   6 │ Tuesday       14 June 2022        01:51:48 pm  14         6          20
   7 │ Wednesday     13 July 2022        08:37:42 pm  13         7          20
   8 │ Friday        12 August 2022      03:35:48 am  12         8          20
   9 │ Saturday      10 September 2022   11:59:06 am  10         9          20 ⋯
  10 │ Sunday        9 October 2022      10:55:00 pm  9          10         20
  11 │ Tuesday       8 November 2022     12:02:12 pm  8          11         20
  12 │ Thursday      8 December 2022     05:08:12 am  8          12         20
                                                               4 columns omitted

### Constructer time object

In [40]:
fm_july = DateTime(2022,7,13,20,37,42)
fm_aug = DateTime(2022,8,12,03,35,48)
fm_sept = DateTime(2022,9,10,11,59,06)
fm_oct = DateTime(2022,10,9,22,55,00)
fm_nov =DateTime(2022,11,8,12,02,12)
fm_dec = DateTime(2022,12,8,5,8,12)

2022-12-08T05:08:12

In [44]:
df = select(make_data(), :date_format,:time_new, :C)

#arr = df

#arr[! :date_and_time]

#fm_date = DateTime(2022,6,14,13,51,48,0)
#df

#format = DateFormat("yyyy-mm-dd-HI:MM:SSp)
DateTime("1900-1-15-08:07:30PM", "yyyy-mm-dd-HH:MM:SSp")

dateformat"Y-m-d H:M:S"
Time("1:34am", "HH:MMp")

01:34:00

In [17]:
using Dates

function _parse_datetime_ampm(ds::String, fmt::DateFormat)::DateTime
    m = match(r"(.*\d{4}\s?\d{1,2}:\d{2})(\s?)(AM|PM)?"i, ds)
    dt = DateTime(m.captures[1], fmt) 
    ampm = m.captures[3]
    dt += (ampm != nothing && uppercase(ampm) == "PM" && Hour(dt).value != 12) ? Hour(12) : Hour(0)
end

dx = " 08:07:30 pm"
" 02:50:12 pm"
" 09:11:48 am"
" 02:02:06 am"
" 04:36:36 pm"
" 04:38:36 am"
" 02:21:54 pm"
" 10:29:54 pm"
" 06:06:06 am"
" 02:18:06 pm"
x = _parse_datetime_ampm.(dx, dateformat"U d, y H:M")

LoadError: cannot document the following expression:

" 09:11:48 am"

In [ ]:
" 15 January 1900 08:07:30 pm"
" 14 February 1900 02:50:12 pm"
 " 16 March 1900 09:11:48 am"

In [ ]:
fm_date = DateTime(1900,1,15,20,07,30,0)
peroid = Dates.Millisecond(2551442777) 
fm_date + peroid

In [ ]:
function reduce()
    df = make_data()
    df[!,:date_and_time]
end

reduce()

#arr = arr['date_and_time']


#arr = df[!,:date_and_time]

In [ ]:
df = make_data()

subset(df, :year => ByRow(==("2023")))

for i in df[!, "date_format"]
    println("$i")
end

In [ ]:
# find full moons in the future
#DateTime(2013,7,1,12,30,59,1)
import Dates
using Dates
#13 June 2014	06:11:30 am	

#DateTime(2014,6,13,06,11,30,0) + Dates.Day(29) + Dates.Hour(12)
#DateTime(2022,6,01,51,48,0)
    
    #14 June 2022	01:51:48 pm
#+ Dates.Minute(42)

fm_date = DateTime(2022,6,14,13,51,48,0)
peroid = Dates.Millisecond(2551442777) 
#peroid = Dates.Millisecond(2531550000) 
#Dates.Day(29) + Dates.Hour(12) + Dates.Minute(42)

#fm_date + peroid + peroid + peroid + peroid + peroid

year = peroid * 12 

decade = year * 10

century = decade * 10

milen = century * 10

year

day_stuff = fm_date + (peroid * 10)
    #+ peroid + peroid + peroid + peroid
#day_stuff.day()

#12 July 2014	01:24:54 pm

#Dates.month(day_stuff)
Dates.day(day_stuff)

In [ ]:
Dates.monthname(day_stuff)

In [ ]:
DateTime(2014,7,12,13,24,0,0) - DateTime(2014,6,13,06,11,30,0) #+ Dates.Day(29)

In [ ]:
#Dates.CompoundPeroid(Dates.Milliseconds(253155000))

Dates.canonicalize(Dates.CompoundPeriod(Dates.Millisecond(2531550000))) +

In [ ]:
function freaky_friday()
    df = make_data()
    fri = subset(df, :day_of_week => ByRow(==("Friday")), :day => ByRow(==("13")))
    #sort(fri, :year)
    fri
end

freaky_friday()

In [ ]:
function freaky_friday()
    df = make_data()
    fri = subset(df, :day_of_week => ByRow(==("Friday")), :day => ByRow(==("13")))
    #sort(fri, :year)
    fri
end

freaky_friday()

In [ ]:
df_test = DataFrame(a=1:5, b=7:11)
#df_test
#filter(:a => != (2), df_test)

#subset(df_test, :a => !=(2),:b => !=(7))

df2 = DataFrame(a=repeat(1:3, 2), b=1:6)

subset(df_test, :a => ByRow(==(1)), :b => ByRow(==(7)))
#subset(df2, :a => ByRow(==(1)), :b => ByRow(isodd))

In [ ]:
using Plots
using Dates
using Distributions

dts = today():Year(1):today()+Year(20)
vs = rand(Normal(0,1),size(dts,1))
plot(dts, vs, label="")
plot!(xformatter = x -> Dates.format(Date(Dates.UTD(x)), "yyyy"))

In [ ]:
function find_days()
    #df = make_data()
    #df_fri = filter(:day_of_week => == ("Friday"), make_data())
    df_fri = filter(:day_of_week => ==("Friday"), make_data())
    df_12 = filter(:day => ==("12"), make_data())
    df_13 = filter(:day => ==("13"), make_data())
    df_14 = filter(:day => ==("14"), make_data())
    #append!([df_fri,df_12,df_13,df_14]);
    #days = append!([df_12, df_13,df_14])
    
    #filter(day_of_week => == ("Friday"), days)
    #ilter(:day_of_week => ==("Friday"), days)
    #tmp = filter(:day_of_week => ==("Friday"), make_data())
    
    #df_14])
    df_14
        
end

find_days()

In [ ]:
tmp = filter(:day_of_week => ==("Friday"), find_days())


#how many full moons on Friday the 13Th?

#tmp = filter(:day_of_week => ==("Friday"), make_data())
#tmp2 = filter(:day => ==("13"), make_data()) || filter(:day => == ("12"),make_data())
#tmp3 = filter(:day => == ("12"),make_data())
    
#filter(:day => ==("13"), tmp,tmp2)
#df

In [ ]:


function fri_13(day_of_week, day)::Bool
    weekday = A(day, '13') || B(day, '12')
    isfri = C(day_of_week, 'Friday')
    weekday && isfri
    
end

In [ ]:
#function complex_filter(day, day_of_week)::Bool
interesting_day = startswith(day, '12') || startswith(day, '13')
    #interesting_fri = isfri(day_of_week, 'Friday')
    #interesting_day && interesting_fri
#end

In [ ]:
function make_full()
    df = CSV.File("full_moon.csv") |> DataFrame
    df = rename!(df, :Time => :time_new)
    df = rename(df, :Date => :date_new)
    df = rename(df, :Day => :day_of_week)
    #split columns
    tmp = split.(df.date_new)
    insertcols!(df, [n => getindex.(tmp, i) for (i, n) in
                        enumerate([:day, :month, :year])]...)
    
end

make_full()